:root {
  --primary: #ffff;
  --secondary: black;
}
* {
  font-family: "Shadows Into Light", cursive;
}
body {
  margin: 0;
}
.navbar {
  margin-top: -5px;
}
.nav-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 20rem;
}
.nav-item {
  padding: 1.5rem;
}
.nav-item a {
  font-size: 1.9rem;
  font-weight: 700;
}
.nav-item i {
  margin-right: 0.3rem;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: var(--secondary);
}
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
.left h2 {
    font-size: 4.2rem;
}
.name {
    color :purple;
}
