:root {
  --primary: #ffff;
  --secondary: black;
  /* --primary-font: "Shadows Into Light", cursive; */
  --primary-font: "Itim", cursive;
  --secondary-font: "Courier New", Courier, monospace;
}
* {
  color: var(--primary);
  font-family: var(--primary-font);
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
}
.navbar {
  margin-top: -5px;
  position: sticky;
  top: 0;
  z-index: 2222;
  /* background-color: red; */
  /* -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px); */
  -webkit-transition: background-color 650ms linear;
  -ms-transition: background-color 650ms linear;
  transition: background-color 650ms linear;
}
.nav-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 1.5rem;
  align-items: center;
  /* margin-right: 20rem; */
}
.nav-item {
  padding: 1.5rem;
  margin: 0 1.7rem;
}
.nav-item a {
  font-size: 1.9rem;
  font-weight: 700;
  color: #ffff;
}
.nav-item i {
  margin-right: 0.3rem;
  color: #ffff;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
.heading,
.heading-name,
.typewriter {
  font-size: 4.2rem;
  color: #ffff;
}

/* CSS rule below targets the generic typewriter classsName from Typewriter  */
.Typewriter span {
  color: orange;
}
.name {
  color: purple;
}
.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.orange {
  color: orange;
}

.about-header h2 {
  text-align: center;
  width: 40%;
  font-family: var(--secondary-font);
  font-size: 2.5rem;
}
.description {
  width: 50%;
  font-size: 1.8rem;
  display: block;
  float: left;
}
.avatar {
  float: left;
  margin-left: 6rem;
}

.about {
  /* position: relative; */
  padding: 4rem;
  margin-top: 2rem;
}
.clearfix {
  content: "";
  clear: both;
  display: table;
}

.contacts {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}
.text-wrapper h2 {
  font-size: 2rem;
  text-align: center;
}
.text-wrapper h4 {
  font-size: 1.7rem;
}

.contacts-icons i {
  padding: 1.4rem;
  font-size: 1.5rem;
}

.footer {
  background-color: #0a0416;
  font-size: 1.1rem;
  padding: 1.1rem;
}
#tsparticles {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}
.home {
  padding: 3rem;
  background-color: rgb(10, 4, 22);
}

.scrolled {
  background-color: #212038d8;
  /* background-color: transparent; */
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.footer-copyright h4,
.project-card h3,
p {
  font-family: var(--secondary-font);
}

.project-section {
  /* display: flex; */
  margin: 3.5rem;
}
.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  text-align: center;
  padding: 2rem;
  border-radius: 1.2rem;
  border: 1px solid #aaa8ad;
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459);
  margin: 1.1rem;
  transition: all 0.5s ease 0s;
}
.project-card:hover {
  transform: scale(1.02);
  overflow: hidden;
  box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561);
}

.project-title {
  padding: 1rem;
}
.project-image {
  width: 100%;
  border-radius: 1.1rem;
}
.project-intro h1,
h3 {
  text-align: center;
  font-size: 2.5rem;
}
.project-link {
  padding: 0.9rem;
  margin-top: 1rem;
  background-color: orange;
  border-radius: 1.1rem;
  font-family: var(--secondary-font);
}
.upper-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(10, 4, 22);
  padding: 7rem 0;
}
.skill-description {
  width: 100%;
  font-size: 1.8rem;
  display: block;
}
.left-skill-wrapper {
  width: 50%;
  margin-left: 1rem;
}

.skill-header {
  text-align: center;

  font-family: var(--secondary-font);
  font-size: 2.5rem;
}
.skill-animation-container {
  width: 60%;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d1950;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(178, 121, 216, 0.959);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
  border-radius: 12px;
}
.lower-container h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
}
.icons-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.tech-icon {
  width: 15%;
  border: 1.7px solid rgba(200, 137, 230, 0.637);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9rem;
  margin: 3rem;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
  transition: all 0.4s ease 0s;
  /* opacity:0.93 */
}

.tech-icon:hover {
  transform: scale(1.05);
  overflow: hidden !important;
  border: 2.2px solid rgba(197, 115, 230, 0.883);
}
.react-icons {
  font-size: 10rem;
}

.nav-toggler {
  font-size: 1.9rem;
  display: none;
}
.darkmode-toggler {
  font-size: 1.9rem;
}

/* Media queries start here */

@media only screen and (max-width: 780px) {
  .nav-toggler {
    display: block;
  }

  .navbar {
    width: 100%;
    z-index: 11;
  }
  .nav-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: flex-end;
    background-color: rgb(24, 26, 39);
    width: 100%;
    transition: 500ms;
  }
  .none {
    display: none;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left {
    padding: 4rem 0;
  }
  .heading,
  .heading-name,
  .typewriter {
    font-size: 2.2rem;
    width: 100%;
  }
  .about {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
  }
  .right {
    margin-top: 4.5rem;
  }
  .about-header h2 {
    width: 100%;
    font-size: 1.9rem;
  }
  .description {
    width: 100%;
    float: none;
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }
  .avatar {
    float: none;
    margin: 2rem 0;
  }
  .footer-socials {
    display: none;
  }
  .footer-copyright {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .skill-description {
    font-size: 1.2rem;
  }

  .upper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
  }
  .left-skill-wrapper {
    width: 90%;
  }
  .right-skill-wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icons-container {
    width: 100%;
    flex-wrap: wrap;
  }
  .tech-icon {
    width: 40%;
    padding: 0.5rem;
    margin: 1rem;
  }
  .react-icons {
    font-size: 10rem;
  }
  .project-section {
    margin-top: 7rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .project-intro h1 {
    text-align: center;
  }
  .project-intro h3 {
    text-align: start;
    font-size: 1.8rem;
  }
  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-card {
    width: 90%;
  }

  /* CSS rule below enables the navbar to re align on responsive */
  .flat {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
