:root {
  --primary_color: #ffff;
  --secondary_color: black;
  --special_color: orange;

  --primary-font: "Itim", cursive;
  --secondary-font: "Courier New", Courier, monospace;
  --bg_SecondaryColor: rgb(10, 4, 22);
  --bg_PrimaryImage: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
  --lose_color: transparent;
  --bg_OnScroll: #212038d8;
  --bg_ResponsiveNavBar: rgb(24, 26, 39);
  --primaryBorderColor: rgba(200, 137, 230, 0.637);
  --ProjectCardBoxShadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459);
  /* CSS rule above defines the color of the whole body */
}
.app {
  background-image: var(--bg_PrimaryImage);
  transition: background-color 650ms linear;
  -webkit-transition: background-color 650ms linear;
  -ms-transition: background-color 650ms linear;
}
[data-theme="light"] {
  --primary_color: #333;
  --secondary_color: #fff;
  --bg_SecondaryColor: ivory;
  --lose_color: white;
  --bg_OnScroll: #cbedd5;
  --bg_PrimaryImage: linear-gradient(
    15deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(203, 237, 213, 1) 85%,
    rgba(255, 255, 255, 1) 100%
  );
  --bg_ResponsiveNavBar: var(--bg_OnScroll);
  --primaryBorderColor: #333;
  --ProjectCardBoxShadow: none;
}
* {
  color: var(--primary_color);
  font-family: var(--primary-font);
  margin: 0;
  box-sizing: border-box;
}
/* Preloader Animation Starts Here */
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --hue: 223;
  --bg: hsl(var(--hue), 90%, 90%);
  --fg: hsl(var(--hue), 90%, 10%);
  --trans-dur: 0.3s;
}
#preloader {
  background-color: #0a0416;
  position: fixed;
  z-index: 99999999999;
  width: 100vw;
  color: var(--fg);
  font: 1em/1.5 sans-serif;
  height: 105vh;
  display: grid;
  place-items: center;
  transition: background-color var(--trans-dur), color var(--trans-dur);
}
.smiley {
  width: 8em;
  height: 8em;
}
.smiley__eye1,
.smiley__eye2,
.smiley__mouth1,
.smiley__mouth2 {
  animation: eye1 3s ease-in-out infinite;
}
.smiley__eye1,
.smiley__eye2 {
  transform-origin: 64px 64px;
}
.smiley__eye2 {
  animation-name: eye2;
}
.smiley__mouth1 {
  animation-name: mouth1;
}
.smiley__mouth2 {
  animation-name: mouth2;
  visibility: hidden;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 90%, 10%);
    --fg: hsl(var(--hue), 90%, 90%);
  }
}

/* Animations */
@keyframes eye1 {
  from {
    transform: rotate(-260deg) translate(0, -56px);
  }
  50%,
  60% {
    animation-timing-function: cubic-bezier(0.17, 0, 0.58, 1);
    transform: rotate(-40deg) translate(0, -56px) scale(1);
  }
  to {
    transform: rotate(225deg) translate(0, -56px) scale(0.35);
  }
}
@keyframes eye2 {
  from {
    transform: rotate(-260deg) translate(0, -56px);
  }
  50% {
    transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1);
  }
  52.5% {
    transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1, 0);
  }
  55%,
  70% {
    animation-timing-function: cubic-bezier(0, 0, 0.28, 1);
    transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1);
  }
  to {
    transform: rotate(150deg) translate(0, -56px) scale(0.4);
  }
}
@keyframes eyeBlink {
  from,
  25%,
  75%,
  to {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
}
@keyframes mouth1 {
  from {
    animation-timing-function: ease-in;
    stroke-dasharray: 0 351.86;
    stroke-dashoffset: 0;
  }
  25% {
    animation-timing-function: ease-out;
    stroke-dasharray: 175.93 351.86;
    stroke-dashoffset: 0;
  }
  50% {
    animation-timing-function: steps(1, start);
    stroke-dasharray: 175.93 351.86;
    stroke-dashoffset: -175.93;
    visibility: visible;
  }
  75%,
  to {
    visibility: hidden;
  }
}
@keyframes mouth2 {
  from {
    animation-timing-function: steps(1, end);
    visibility: hidden;
  }
  50% {
    animation-timing-function: ease-in-out;
    visibility: visible;
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -351.86;
  }
}

/* Preloader animation ends Here  */

.navbar {
  background-color: var(--lose_color);
  position: sticky;
  top: 0;
  z-index: 2222;
  -webkit-transition: background-color 650ms linear;
  -ms-transition: background-color 650ms linear;
  transition: background-color 650ms linear;
}
.nav-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 1.5rem;
  align-items: center;
}
.nav-item {
  padding: 1.5rem;
  margin: 0 1.7rem;
  transition: 190ms;
}
.nav-item:hover {
  transform: scale(1.2) translateY(-4px);
  transition: 190ms;
}
.nav-item a {
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--primary_color);
}
.nav-item i {
  margin-right: 0.3rem;
  color: var(--primary_color);
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
.heading,
.heading-name,
.typewriter {
  font-size: 4.2rem;
  color: var(--primary_color);
}

/* CSS rule below targets the generic typewriter classsName from Typewriter  */
.Typewriter span {
  color: var(--special_color);
}
.name {
  color: purple;
}
.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.orange {
  color: var(--special_color);
}

.about-header h2 {
  text-align: center;
  width: 40%;
  font-family: var(--secondary-font);
  font-size: 2.5rem;
}
.description {
  width: 50%;
  font-size: 1.8rem;
  display: block;
  float: left;
}
.avatar {
  float: left;
  margin-left: 6rem;
  /* border-radius: 50%; */
  /* width:300px;
  height:300px; */
}

.about {
  padding: 4rem;
  margin-top: 2rem;
}
.clearfix {
  content: "";
  clear: both;
  display: table;
}

.contacts {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}
.text-wrapper h2 {
  font-size: 2rem;
  text-align: center;
}
.text-wrapper h4 {
  font-size: 1.7rem;
}

.contacts-icons i {
  padding: 1.4rem;
  font-size: 1.5rem;
  transition: 1000ms;
}
.contacts-icons i:hover {
  transform: rotateZ(360deg) scale(1.5);
  transition: 1000ms;
}

.footer {
  background-color: var(--bg_SecondaryColor);
  font-size: 1.1rem;
  padding: 1.1rem;
}
#tsparticles {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}
.home {
  padding: 3rem;
  background-color: var(--bg_SecondaryColor);
}

.scrolled {
  background-color: var(--bg_OnScroll);
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.footer-copyright h4,
.project-card h3,
p {
  font-family: var(--secondary-font);
}

.project-section {
  margin: 3.5rem;
}
.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  text-align: center;
  padding: 2rem;
  border-radius: 1.2rem;
  border: 1px solid #aaa8ad;
  box-shadow: var(--ProjectCardBoxShadow);
  margin: 1.1rem;
  transition: all 0.5s ease 0s;
}
.project-card:hover {
  transform: scale(1.02);
  overflow: hidden;
  box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561);
}

.project-title {
  padding: 1rem;
}
.project-image {
  width: 100%;
  border-radius: 1.1rem;
}
.project-intro h1,
h3 {
  text-align: center;
  font-size: 2.5rem;
}
.project-link {
  padding: 0.9rem;
  margin-top: 1rem;
  background-color: var(--special_color);
  border-radius: 1.1rem;
  font-family: var(--secondary-font);
}
.upper-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg_SecondaryColor);
  padding: 7rem 0;
}
.skill-description {
  width: 100%;
  font-size: 1.8rem;
  display: block;
}
.left-skill-wrapper {
  width: 50%;
  margin-left: 1rem;
}

.skill-header {
  text-align: center;

  font-family: var(--secondary-font);
  font-size: 2.5rem;
}
.skill-animation-container {
  width: 60%;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d1950;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(178, 121, 216, 0.959);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
  border-radius: 12px;
}
.lower-container h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
}
.icons-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.tech-icon {
  width: 15%;
  border: 1.7px solid var(--primaryBorderColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.9rem;
  margin: 3rem;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
  transition: all 0.4s ease 0s;
}
.tech-icon p {
  font-size: 1.5rem;
  font-weight: bold;
}
.tech-icon:hover {
  transform: scale(1.05);
  overflow: hidden !important;
  border: 2.2px solid rgba(197, 115, 230, 0.883);
}
.react-icons {
  font-size: 10rem;
}

.transparent {
  background-color: transparent;
  border-radius: 50%;
}

.nav-toggler {
  font-size: 1.9rem;
  display: none;
  cursor: pointer;
}
.darkmode-toggler {
  font-size: 1.9rem;
  cursor: pointer;
}

/* Media queries start here */

@media only screen and (max-width: 793px) {
  .nav-toggler {
    display: block;
  }

  .navbar {
    width: 100%;
    z-index: 1001;
    transition: all 0.9s ease-out 500ms;
    position: fixed;
  }
  .nav-container {
    display: flex;
    flex-direction: column;
    top: 0;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--bg_ResponsiveNavBar);
    width: 100%;
  }
  .none {
    display: none;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left {
    padding-top: 4rem;
  }
  .heading,
  .heading-name,
  .typewriter {
    font-size: 2.2rem;
    width: 100%;
  }
  .about {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
  }

  .about-header h2 {
    width: 100%;
    font-size: 1.3rem;
  }
  .description {
    width: 100%;
    float: none;
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }
  .avatar {
    float: none;
    margin: 2rem 0;
  }
  .footer-socials {
    display: none;
  }
  .footer-copyright {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .skill-description {
    font-size: 1.2rem;
  }

  .upper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
  }
  .left-skill-wrapper {
    width: 90%;
  }
  .right-skill-wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icons-container {
    width: 100%;
    flex-wrap: wrap;
  }
  .tech-icon {
    width: 40%;
    padding: 0.5rem;
    margin: 1rem;
  }

  .react-icons {
    font-size: 8.8rem;
    /* font-size: 10rem; */
  }
  .project-section {
    margin-top: 5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .project-intro h1 {
    text-align: center;
  }
  .project-intro h3 {
    text-align: start;
    font-size: 1.8rem;
  }
  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-card {
    width: 90%;
  }

  /* CSS rule below enables the navbar to re align on responsive */
  .flat {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    transition: 500ms;
  }
}

@media only screen and (min-width: 794px) and (max-width: 1199px) {
  .description {
    width: 53%;
    font-size: 1.2rem;
  }
  .about-header h2 {
    font-size: 1.5rem;
    width: 50%;
  }
  .nav-item {
    padding: 0.9rem;
    margin: 0 1.5rem;
  }
  .contacts-icons i {
    padding: 0.9rem;
    font-size: 1.2rem;
  }
  .footer {
    font-size: 0.9rem;
  }
  .skill-description {
    font-size: 1.2rem;
  }
  .skill-header {
    font-size: 1.5rem;
    text-align: left;
  }
  .tech-icon {
    width: 34%;
  }

  .project-intro h1,
  h3 {
    font-size: 2rem;
  }
  .project-card {
    width: 44%;
  }
  .heading,
  .heading-name,
  .typewriter {
    font-size: 3.2rem;
  }
  .right {
    width: 39%;
  }
  /* .avatar {
    float: none;
    margin: 2rem 0;
  } */
}
